@section DatatableStyle
    {
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet" />
}

@section DatatableScript
    {
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    }
@model IEnumerable<FoodDlvProject2.Models.ViewModels.PaysMonthlyDetailsVM>

@{
    ViewData["Title"] = "MonthlyDetails";
}

<h1>MonthlyDetails</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            DataTables Example
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered"
                   id="dataTable"
                   width="100%"
                   cellspacing="0">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.DeliveryDriversId)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DriversName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DeliveryCount)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TotalMilage)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Bouns)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TotalPay)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.SettlementMonth)
						</th>

						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.DeliveryDriversId)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DriversName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DeliveryCount)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TotalMilage)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Bouns)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TotalPay)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.SettlementMonth.Year )年
								@Html.DisplayFor(modelItem => item.SettlementMonth.Month)月
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
								<a asp-action="IndividualMonthlyDetails"
								   asp-route-year="@item.SettlementMonth.Year"
								   asp-route-month="@item.SettlementMonth.Month"
									asp-route-id="@item.DeliveryDriversId">Details</a> |
								<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
            </table>
        </div>
    </div>
</div>
<div>
</div>