@section DatatableStyle
    {
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet" />
}

@section DatatableScript
    {
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    }
@model FoodDlvProject2.Models.ViewModels.BenefitStandardsDeleteVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BenefitStandard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerMilage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerMilage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BonusThreshold1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BonusThreshold1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BonusThreshold2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BonusThreshold2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BonusThreshold3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BonusThreshold3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bouns1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bouns1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bouns2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bouns2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bouns3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bouns3)
        </dd>
        @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.HolidayBouns)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.HolidayBouns)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.RushHoursBouns)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.RushHoursBouns)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.RushHoursStart1)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.RushHoursStart1)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RushHoursEnd1)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RushHoursEnd1)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.RushHoursStart2)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.RushHoursStart2)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.RushHoursEnd2)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.RushHoursEnd2)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Selected)
        </dt>
        <dd class="col-sm-10">
            @{
                var Selected = Model.Selected ? "使用中" : "未使用";
            }
            @Selected
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
