@model IEnumerable<FoodDlvProject2.EFModels.StoreCancellationRecord>

@{
    ViewData["Title"] = "Index";
}
@section DatatableStyle
    {
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet" />
}

@section DatatableScript
    {
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
	}

<h1>店家取消紀錄管理</h1>

<div class="container-fluid">
	

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">
                    <a asp-action="Create">新增</a>
			</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered"
					   id="dataTable"
					   width="100%"
					   cellspacing="0">
					<thead>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CancellationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancellation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CancellationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancellation.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Address)
            </td>
            <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">詳細內容</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
            </div>
        </div>
    </div>
</div>
