@model FoodDlvProject2.Models.ViewModels.DriverCancellationRecordsEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>取消紀錄維護</h1>

<hr />
<div class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DriverId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DriverId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DriverName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DriverName)
    </dd>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CancellationId" class="control-label"></label>
                <select asp-for="CancellationId" class="form-control" asp-items="ViewBag.CancellationId"></select>
                <span asp-validation-for="CancellationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancellationDate" class="control-label"></label>
                <input asp-for="CancellationDate" class="form-control" />
                <span asp-validation-for="CancellationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
