@section DatatableStyle
    {
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet" />
}

@section DatatableScript
    {
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    }
@model IEnumerable<FoodDlvProject2.Models.ViewModels.DeliveryRecordIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>外送員管理</h1>
<h2>外送紀錄</h2>
<a class="collapse-item" href="/DeliveryDrivers/Index">基本資料</a>
<a class="collapse-item" href="/Pays/Index">薪資資料</a>
<a class="collapse-item" href="/DeliveryViolationRecords/Index">違規紀錄</a>
<a class="collapse-item" href="/DriverCancellationRecords/Index">取消訂單紀錄</a>

<table class="table">
   
</table>
<div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  DataTables Example
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Id)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DriverName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Milage)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Status)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.OrderDate)
						</th>

						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DriverName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Milage)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Status)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.OrderDate)
							</td>
							<td>
								<a asp-action="MonthlyDetails" asp-route-id="@item.DeliveryDriversId">檢視個人紀錄</a>|
								<a asp-controller="Orders" asp-action="DetailIndex" asp-route-id="@item.Id">檢視訂單</a>
							</td>
						</tr>
					}
				</tbody>
                  </table>
                </div>
              </div>
            </div>
