@model IEnumerable<FoodDlvProject2.Models.ViewModels.DeliveryRecordVM>

@{
    ViewData["Title"] = "MonthlyDetails";
}

<h1>MonthlyDetails</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMilage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDelievery)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TotalMilage)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TotalDelievery)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
