@model FoodDlvProject2.EFModels.Store

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除店家</h1>

<h3>你確定要刪除此店家?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @*  @{
                var imgSrc = "";
                if (Model.Photo != null)
                {
                    var base64String = Convert.ToBase64String(Model.Photo);
                    imgSrc = $"data:image/png;base64,{base64String}";


                }
                else
                {
                    imgSrc = "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930";

                }

            }



            <img src="@imgSrc" width="100px" height="100px">*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorePrincipal.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorePrincipal.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorePrincipal)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorePrincipal.LastName)
            @Html.DisplayFor(model => model.StorePrincipal.FirstName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
