@model FoodDlvProject2.EFModels.Store

@{
    ViewData["Title"] = "Details";
}

<h1>店家詳細資料</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorePrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorePrincipal.Account)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreBusinessHours)
        </dt>
        <dd class="col-sm-10">
            @{
                var SBH = "";
                foreach (var p in Model.StoreBusinessHours)
                {
                    SBH = $"{p.OpeningTime}~{p.ClosingTime}";

                }
            }
            @SBH
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class="col-sm-10">
            @{
                var P = "";
                <td>
                    <table class="table table-bordered">
                        <tr class="active">
                            <td>品名</td>
                            <td>單價</td>
                        </tr>
                        @foreach (var p in Model.Products)
                        {
                            <tr class="active">
                                <td>@p.ProductName</td>
                                <td>@p.UnitPrice</td>
                               

                            </tr>
                        }

                    </table>
                   
                </td>
            }
            @P
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreCancellationRecords)
        </dt>
        <dd class="col-sm-10">
            @{
                var SCR = "";
                foreach (var p in Model.StoreCancellationRecords)
                {
                   @p.CancellationDate

                }
            }
            @SCR
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreViolationRecord)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.StoreViolationRecord.ViolationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreWallet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.StoreWallet.Total)
        </dd>




    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
