@model FoodDlvProject2.EFModels.Store

@{
	ViewData["Title"] = "Details";
}

<h1>店家詳細資料</h1>

<div>

	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StoreName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StoreName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ContactNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ContactNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Photo)
		</dt>
		<dd class="col-sm-10">
		@*	@{
				var imgSrc = "";
				if (Model.Photo != null)
				{
					var base64String = Convert.ToBase64String(Model.Photo);
					imgSrc = $"data:image/png;base64,{base64String}";


				}
				else
				{
					imgSrc = "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930";

				}

			}



			<img src="@imgSrc" width="100px" height="100px">*@
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StorePrincipal.Account)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StorePrincipal.Account)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StorePrincipal)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StorePrincipal.LastName)
			@Html.DisplayFor(model => model.StorePrincipal.FirstName)
		</dd>

		@*<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.StoreBusinessHours)
		</dt>
		<dd class="col-sm-10">
		@{
		var SBH = "";
		foreach (var p in Model.StoreBusinessHours)
		{
		SBH = $"{p.OpeningTime}~{p.ClosingTime}";

		}
		}
		@SBH
		</dd>*@
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Products)
		</dt>
		<dd class="col-sm-10">
			@{

				<td>
					<table class="table table-bordered">
						<tr class="active">
							<td>照片</td>
							<td>品名</td>
							<td>單價</td>
						</tr>
						@foreach (var p in Model.Products)
						{
							<tr class="active">


								<td>
									@{
									//	var imgSrcP = "";
									//	if (p.Photo != null)
									//	{
									//		var base64StringP = Convert.ToBase64String(p.Photo);
									//		imgSrcP = $"data:image/png;base64,{base64StringP}";


									//	}
									//	else
									//	{
									//		imgSrcP = "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930";

									//	}
													//< img src = "@imgSrcP" width = "100px" height = "100px" >
									}



									


								</td>
								<td>@p.ProductName</td>
								<td>@p.UnitPrice</td>
								<td>
									<a asp-action="EditP" asp-route-id="@p.Id">商品編輯</a> |
									<a asp-action="DetailsP" asp-route-id="@p.Id">商品詳細資料</a> |
									<a asp-action="DeleteP" asp-route-id="@p.Id">商品刪除</a>
								</td>



							</tr>

						}
						<a asp-action="CreateP" asp-route-id="@Model.Id">新增商品</a>
					</table>

				</td>
			}

		</dd>
		@*<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.StoreCancellationRecords)
		</dt>
		<dd class="col-sm-10">
		@{
		var SCR = "";
		foreach (var p in Model.StoreCancellationRecords)
		{

		SCR = $"取消日期{p.CancellationDate}";
		}


		if (SCR == "取消日期")
		{

		SCR = "";
		}
		}

		@SCR
		</dd>*@

		@*        <dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.StoreWallet)
		</dt>
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.StoreWallet.Total)
		</dd>*@




	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
