@model IEnumerable<FoodDlvProject2.EFModels.Store>

@{
	ViewData["Title"] = "Index";
}

@section DatatableStyle
	{
	<!-- Custom styles for this page -->
	<link href="~/vendor/datatables/dataTables.bootstrap4.min.css"
	  rel="stylesheet" />
}

@section DatatableScript
	{
	<!-- Page level plugins -->
	<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="~/js/demo/datatables-demo.js"></script>
	}
<h1>店家管理</h1>
<div class="container-fluid">

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">
				<a asp-action="Create">新增店家</a>
			</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered"
					   id="dataTable"
					   width="100%"
					   cellspacing="0">
					<thead>
						<tr>

							<th>
								店家圖片
							</th>
							<th>
								@Html.DisplayNameFor(model => model.StoreName)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Address)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.ContactNumber)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.StorePrincipal.Account)
							</th>
							<th>
								
							</th>


						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									
									@{

										var imgSrc = "";
										if (! string.IsNullOrEmpty(item.Photo)||imgSrc.Length<0)
										{
									
											imgSrc = $"/img/Stores/{item.Photo}";

										}
										else
										{
											imgSrc = "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930";
										}
									}


									<img src="@imgSrc" width="100px" height="100px">






@*									@{
										var imgSrc = "";
										if (item.Photo != null)
										{
											var base64String = Convert.ToBase64String(item.Photo);
											imgSrc = $"data:image/png;base64,{base64String}";
											

										}
										else
										{
											imgSrc = "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930";

														}

									}



									<img src="@imgSrc" width="100px" height="100px" >*@
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.StoreName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Address)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ContactNumber)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.StorePrincipal.Account)
								</td>


								<td>
									<a asp-action="Edit" asp-route-id="@item.Id">店家修改</a> |
									<a asp-action="Details" asp-route-id="@item.Id">店家詳細內容</a> |
									<a asp-action="Delete" asp-route-id="@item.Id">店家刪除</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
