@model FoodDlvProject2.Models.ViewModels.DeliveryViolationRecordDeleteVM

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除違規紀錄</h1>

<h3>確定刪除資料?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViolationContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViolationDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
